extends layout

block content
  #eventdesc
    h1= event.name
    p #{event.yes_rsvp_count} RSVPs

  #winner
    h1 Winner is ...?
    img.member(src='/images/default.jpg')

  #links
    .btn-group
      button.btn.btn-danger.btn-lg#rolling Start Rolling
    .btn-group
      button.btn.btn-danger.btn-lg#stop Stop
  p
  
  #list
    each val in rsvplist
      .member-cell
        if val.member_photo
          img.list(src='#{val.member_photo.photo_link}', title='#{val.member.name}')
        else
          img.list(src='/images/default.jpg', title='#{val.member.name}')