extends layout

block content
  .eventdesc
    h1= event.name
    p #{event.yes_rsvp_count} RSVPs

  .winner
    h1 Winner: #{rsvp.member.name}
    img(src='#{rsvp.member_photo.thumb_link}')

  .links
    a(href='/#{title}')
      p Roll again

    a(href='/')
      p Home

