extends layout

block content
  #eventdesc
    h1= event.name
    p #{event.yes_rsvp_count} RSVPs

  #winner
    h1 Winner is ...?
    .winner__wrapper
      img.member(src='/images/default.jpg')

  #links
    .links__control
      .control.control__main
        .btn-group
          button.btn.btn-default(type='button')
            span.glyphicon.glyphicon-play
            span.glyphicon.glyphicon-pause
      .control.control__speed
        label(style='margin-right: 1em;') Speed:
        .btn-group
          button.btn.btn-default(type='button') 1
          button.btn.btn-default(type='button') 2
          button.btn.btn-default(type='button') 3
          button.btn.btn-default(type='button') 4
          button.btn.btn-default(type='button') 5

  p
  
  #list
    each val in rsvplist
      .member-cell
        if val.member_photo
          img.list(src='#{val.member_photo.photo_link}', title='#{val.member.name}')
        else
          img.list(src='/images/default.jpg', title='#{val.member.name}')