extends layout

block content
  #eventdesc
    h1= event.name
    p #{event.yes_rsvp_count} RSVPs

  #winner
    h1 Winner: #{rsvp.member.name}
    if rsvp.member_photo
      img.member(src='#{rsvp.member_photo.photo_link}')
    else
      p (no photo)

  #links
    a.button#rollagain(href='/#{title}')
      p Roll again



