extends layout

block content
  #eventdesc
    h1= event.name
    p #{event.yes_rsvp_count} RSVPs

  #winner
    h1 Winner: #{rsvp.member.name}
    img.member(src='#{rsvp.member_photo.photo_link}')

  #links
    a.button#rollagain(href='/#{title}')
      p Roll again

    a.button#home(href='/')
      p Home

